*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	bacground-color:#fff;
}

body{
	background: linear-gradient(to left, #0a0908, #49111c, #a61c3a,grey,#0a0908);

}

#logo{
	position:fixed;
	top:0;
	left:0;
	width:9rem;
	transition:transform 0.3s ease;
}

#logo:hover{
	transform:scale(1.06);
}

#intro{
	margin-top:10rem;
	color:#fff;

}